.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.footer_logo {
    width: 100%;
    max-height : 50%;
    text-align: center;
}

.footer_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.footer_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 20px 10px 0px 10px;
}

.footer_menu li a {
    color: #f1f1f1;
}

.footer_menu li a:hover {
    color: #f26522;
}


.location_main {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.location_main {
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 30px 30px 30px;
}

.location_main a {
    color: #ffffff;
}

.location_main a:hover {
    color: #f26522;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #f26522;
}