div.post-content {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  border: 0;
  border-color: #979797;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.post-options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 10px;
}

.post-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.post-option > p {
  margin-left: 10px;
  margin-top: 10px;
}

.post-option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}

div.post-content .post-header {
  display: flex;
}

div.post-content .post-header > img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

div.post-content .post-header .post-header-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

div.post-content .post-header .post-header-info strong {
  font-size: 14px;
}

div.post-content .post-header .post-header-info small {
  font-size: 11px;
  color: #9a9a9a;
  margin-top: 2px;
}

div.post-content > p {
  font-size: 14px;
  margin-top: 15px;
  padding-bottom: 20px;
}

ul.comment {
  margin-top: 10px;
  list-style: none;
  margin-top: 20px;
}

ul.comment li {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

ul.comment li img {
  width: 32px;
  border-radius: 50%;
}

ul.comment li p {
  font-size: 13px;
  line-height: 20px;
  background: #eee;
  border-radius: 20px;
  min-width: 600px;
  padding: 10px 15px;
  margin-left: 10px;
}
